<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="narek.dallakyan.datalink.PERMISSION_ACCESS_DATA"
        android:protectionLevel="signature" />

    <uses-permission android:name="narek.dallakyan.datalink.PERMISSION_ACCESS_DATA" />

    <queries>
        <provider android:authorities="narek.dallakyan.datalink.dataProvider" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App2">
        <activity
            android:name="narek.dallakyan.app2.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>